body {
    background-color: bisque;
}

img {
    width: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 20px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
  }
  
  p, h1 {
    text-align: center
  }

  .grid-form {
    display: grid;
    grid-template-columns: 80px 1fr; /* auto for label width, 1fr for input */
    grid-gap: 4px;
  }
  
  .grid-form label {
    grid-column: 1 / 2;
    text-align: right;
  }

  .grid-form input, .grid-form button {
    grid-column: 2 / 3;
  }

  .subscriptions {
    width: 100%;
    /* background-color: #e6eba4; */
  }

  .subscriptions th {
    background-color: beige;
  }

  .subscriptions tr:nth-child(even) {
    background-color: #f2f2f2;
  }

  .pointAtMe {
    cursor: pointer;
  }